body {
  margin: 2;
  padding: 0;
  background: linear-gradient(-45deg, #00491c, #000d16, #001524, #6d1515);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
  height: 100vh;
}

.main-content {
  position: absolute;
  width: 100%;
  top: 0;
}

.header-container {
  width: auto;
  height: auto;
  margin: 10px;
  text-align: center;
}

.title {
  z-index: 2;
  color: white;
}

.bio-pic {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.bio-pic:hover {
  transform: scale(1.05);
}

.bio-content {
  color: #9ea5ac;
  position: relative;
  margin: 25px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25em;
  border-right: 2px solid #aaaaaa;
  font-size: 150%;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 7s steps(50) 2s 1 normal both,
    blinkTextCursor 0.3s steps(40) 18 normal forwards;
}

.btn {
  color: white;
  text-align: center;
  background-color: #042749;
  transition: 0.5s ease-in-out;
}

.btn-title {
  color: white;
  text-decoration: none;
}

.btn-title:hover {
  color: white;
}

i {
  color: white;
  padding-right: 10px;
}

i.quote {
  padding: 0;
}

.btn:hover {
  transform: scale(1.05);
  color: white;
  background-color: #0a3f49;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px;
  min-width: 75%;
  max-width: 75%;
}

.sub-container {
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  min-width: 50%;
  max-width: 100%;
  transition: 0.5s ease-in-out;
}

.sub-container:hover {
  background-color: #0a3f49;
  transform: scale(1.03);
}

.sub-container-small {
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  padding: 25px;
  min-width: 23.5%;
  max-width: 25%;
  transition: 0.5s ease-in-out;
}

.sub-container-small:hover {
  background-color: #0a3f49;
  transform: scale(1.03);
}

.video-container {
  margin: 15px 0px;
  width: auto;
  height: auto;
}

.video {
  width: 75%;
  width: 95%;
  height: 100%;
}

.sub-title {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.collapse {
  overflow: visible;
}

#collapser {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#collapser:hover {
  transform: scale(1.05);
}

.lst {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lst-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-img-top {
  width: 300px;
}

.content-row {
  text-align: center;
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-between;
  align-items: center;
}

.card-img-top {
  padding: 5px;
  border-radius: 15px;
  width: auto;
}

.card {
  padding: 5px;
  border-radius: 0%;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: white;
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.btn-blue {
  background-color: #023e8a;
}

.btn-green {
  background-color: #2a9d8f;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .cursor {
    height: 5rem;
    width: 5rem;
  }

  .sub-container {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
  }

  .collapse {
    transition: 0.5s ease-in-out;
  }

  .sub-container-small {
    max-width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  .wrapper {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .video-container {
    text-align: center;
  }

  .content-row {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    flex-direction: column;
  }

  .card {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 15px auto;
  }
}

@media only screen and (max-width: 600px) {
  .cursor {
    display: none;
  }
}

/* Dynamic Elements */
.circles {
  z-index: -1001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.cursor {
  z-index: 101;
  width: 7rem;
  height: 7rem;
  border: none;
  background: radial-gradient(circle closest-side, white, transparent);
  opacity: 0.1;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.particle {
  z-index: -100;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.1;
  transition: 0.5s ease-in-out;
}

/* Key Frames */

@keyframes shift {
  from {
    background-position: 0 20%;
  }

  to {
    background-position: 100% 30%;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #403f3e;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
